<p>Thanks for creating an account on NeighborHub-Denver!</p>
<br>
<p>You can:<p>
<p>&emsp;Post projects that you need help with or resources for</p>
<p>&emsp;View projects in your neighborhood that you can help with</p>
<p>&emsp;Leave comments for the project owner about how you can help</p>
<p>&emsp;View all the available projects in Denver!</p>
<br>
<p>Thanks for being a good neighbor!</p>
